/* Opening styling */
.title-screen{
    height:100vh;
    width: 100%;
    background-color:black;
    color:white;
    overflow: hidden;
    position: absolute;
    z-index: 1;

    &.game-has-started {
        display:none;
    } 
    .mute-audio-control{
        height: 40px;
        padding: 5px 10px;
    }

    .title-box{
        display:grid;
        grid-template-columns: 27% 46% 27%;;
        justify-content: center;
        align-items: center;
       height: 100%;
       picture {
        height: 100%;
   
      img{
        height:100%;
        width: 100%;
         }
        }
       .title-text-wrapper {
        text-align: center;
        position: relative;
        h1{
        font-family:  $opening-font;
        font-size: 1.9em;
        text-align: center;
        @include gradient(-180deg, $list1);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(2px 4px 2px #000000);

        @include mq($phoneLandscape){
            font-size: 2.5em;
           }
            @include mq($tabletPortrait){
            font-size: 4em;
            }
        @include mq($desktopLarge){
            font-size: 5em;
            }
        }
        .opening-title-wrapper{
            position: absolute;
            left: 50%;
             transform: translate(-50%, -70%);
        }
     }
        @include mq($phoneLandscape){
        grid-template-columns: 25% 50% 25%;
       }
    } 
}



